#navbar{
    /* border: 0.125rem solid black; */
    height: 8%;
    width: 100%;
    display: flex;

}
.logo{
    width: 16%;
    background: rgb(44 44 44);

    /* border: 2px solid red; */
    display: flex;
    
}
img{
    height: 44px;
    margin: 2px 8px;
    
}
.logo div{
    /* border: 1px solid green; */
    padding: 2px 4px;

}
.logo div p{
    margin: 0%;
    font-size: 13px;
}


.play{
    width: 64%;
    background: rgb(44 44 44);

    /* border: 2px solid black;    */
    margin: 0px 4px;
}
.play div{
    border: 2px solid red;
    height: 100%;
    width: 50%;
    
}



.account{
    width: 20%;
    background: rgb(44 44 44);

    /* border: 2px solid yellow; */
}
button{
    width:44%;
    height: 80%;
    margin: 4px 4px;
    border-radius: 22px 22px;
    font-size: medium;
    font-weight: bold;
}
