*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0% 0%;
    /* background: rgb(37 37 38); */
    /* background: black; */

}

#container{
    display: flex;
    height: 92%;
    width: 100%;
    /* border: 1.2rem solid purple; */

}
#left{
    /* border: 0.125rem solid red; */
    background: rgb(31 31 31);
    border: 0.125rem solid rgba(255, 153, 0, 0.684);
    width: 16%;
    height: 100%;
    margin: 8px 0;
    color: rgb(238 238 238);
    
}
.lup{
    /* border: 0.125rem solid rgb(37, 187, 192, 1); */
    width: 100%;
    height: 20%; 
}
.lup div svg{
    margin: 0px 8px;
}
.lup div{
    display: flex;
    /* border: 0.125rem solid yellow; */
    margin: 0.5rem 0.25rem;
    font-size: large;
    font-weight: bolder;
    /* justify-content: center; */
    /* text-align: baseline; */
      
}
.lup div:hover{
    scale: 1.05;
    
}

/* Last Played Section begins */
.ldown{
    /* border: 0.125rem solid rgb(37, 187, 192, 1); */
    width: 100%;
    height: 80%;
}
.ldown1{
    display: flex;
    margin: 8px 0px;
    /* border: 0.125rem solid black; */
    border: 2px solid rgba(255, 153, 0, 0.684);
    border-left-style: none;
    border-right-style: none;
    border-radius: 8px 8px;
    height: 7%;
    /* padding: 0.5rem 1rem; */
    font-size: larger;
    font-weight: bolder;
    /* text-align: baseline; */

}
.ldown1 svg{
    margin: 4px 8px;
}
.ldownlow{
    
    /* border: 0.25rem solid green; */
    height: 92%;
    overflow-y: auto;
    bottom: 0%;
}
.ldownlow div{
    height: 2.8rem;
    /* border: 0.125rem solid yellow; */
    margin: 0.5rem 0.25rem;
    font-size: large;
    font-weight: 600;
}
.ldownlow div:hover{
    scale: 1.08;
    background: rgb(83, 83, 83);
}
/* Last Played Section ends */

#right{
    border: 0.25 solid blue;
    width: 84%;
    overflow-y: auto;
    height: 100%;
}
.trending{
    border: 8px solid indigo;
    width: 100%;

    
}
.trending div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
.trending div div{
    border: 2px solid greenyellow;
    height: 50px;
}
.default{
    width: 48px;
    
}
.default{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.albums{
    border: 0.25rem solid brown;
    
    
}
.albums div{
    border: 0.125rem solid sandybrown;
    overflow-x: auto;
    height: 80%;
    display: flex;

}
.albums div div{
    flex-shrink: 0;
    margin: 2px ;
    border: 0.125rem solid black;
    border-radius: 4%;
    width: 24%;
    height: 12rem;
    justify-content: center;
}
.fm{
    border: 0.25rem solid brown;
    
    
}
.fm div{
    border: 0.125rem solid sandybrown;
    overflow-x: auto;
    height: 80%;
    display: flex;

}
.fm div div{
    flex-shrink: 0;
    margin: 2px ;
    border: 0.125rem solid black;
    border-radius: 4%;
    width: 24%;
    height: 12rem;
    justify-content: center;
}

/* footer */
.footer{
    border: 2px solid rgba(255, 153, 0, 0.684);
    background: rgb(37 37 38);
    margin: 4px 4px;

    height: 28%;
}